<div class="containee-fluid mt-5 contact-style" id="contactid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Sign Up</h1>
            <p class="text-center sub-heading">New Here? Register now</p>

            <div class="row">
                <div class="col-md-6 col-12 mx-auto">
                    <form action="/contact" method="POST">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Name</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" name="name" placeholder="Full name" required>
                        </div><br>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email" aria-describedby="emailHelp" name="email" required>
                        </div><br>
                        <div class="form-group">
                            <label class="exampleInputPassword1">Phone</label>
                            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Phone Number" name="phone">
                            
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required>
                        </div><br>
                        
                        <button type="submit" style="background: var(--color-primary);border: 0;padding: 10px 35px;color: #fff;transition: 0.4s; border-radius: 5px; background: rgba(254, 185, 0, 0.8);">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>